.demo-card-wide.mdl-card {
  width: 100%;
  margin: 0 auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #242424;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
