<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="mobile-web-app-capable" content="yes">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" type="image/png" href="<$ cdn $>images/favicon.png">
<link rel="icon" type="image/png" href="<$ cdn $>images/favicon.png">
<title><$ meta.title $></title>
<meta name="keywords" content="<$ meta.keywords $>">
<meta name="description" content="<$ meta.description $>">
<meta property="og:title" name="og:title" content="<$ meta.title $>">
<meta property="og:description" name="og:description" content="<$ meta.description $>">
<meta property="og:type" name="og:type" content="website">
